*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: top;
    background-color: aliceblue;

}



button{
    margin-top: 25px;
    font-weight: bold;
    font-size: medium;
    
}


.dropbtn {
    background-color: white;
    color: rgb(71, 29, 197);
    padding: 16px;
    font-size: 16px;
    border-radius: 5px;
    border-color: rgb(71, 29, 197);
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #bebebe;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.topbutton{
    border:none;
    margin-right: 50px;
    background-color: aliceblue;
    
}

#button2{
    margin-left: 100px;
    color: whitesmoke;
    background-color: rgb(64, 64, 204);
    padding: 14px 25px;
    border-radius: 5px;
    font-size: 20px; 
    border: none;
}


#banner{
    margin-top: 15px;
    height: 280px;
    width: 100%;
    background-image:url("1.png") ;
    background-position: center center;
    background-size: 100% 100% ;
    animation-name: myani;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes myani{
    25%{background-image:url("2.png") ;}
    50%{background-image:url("3.png") ;}
    75%{background-image:url("4.png") ;}
    100%{background-image:url("5.png") ;}

}

#container1{
    position: relative;
}
#container2{
    height: 550px;
    width: 100%;
    background-color: rgb(212, 210, 228);
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 10px;
    position: absolute;
    top: 50px; /* Adjust as needed */
    left: 0px; /* Adjust as needed */
    z-index: 1; 

}

.c2a1{
    margin-top: 10%;
    margin-left: 10%;
    margin-left: 15%;
    height:70% ;
    width: 80%;
    background-color: rgb(212, 210, 228);

}

.c2a1p{
    font-size: 50px;
}

.c2a2{
    height: 80%;
    background-color: rgb(212, 210, 228);
    background-image: url("b2.1.png");
    background-position: center center;
    background-size: 100% 100% ;

}



.message1 {
    position: relative;
    background-color: #0e053d;
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 190px;
    margin: 20px;
    margin-top: 10px;
    top: 25%;
    left: 175px;
}

.message1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #0e053d;
    border-bottom: 0;
    border-left: 0;
    margin-left: -5px;
    margin-bottom: -10px;
}

.message2 {
    position: relative;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    width: 190px;
    margin: 20px;
    margin-top: 10px;
    top: -25%;
    left: 350px;
}

.message2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-left: 0;
    margin-left: 150px;
    margin-bottom: -8px;
}

#button3{
    color: white;
    background-color: rgb(64, 64, 204);
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: larger;
}


#container3{
    height: 205px;
    margin-left: 60px;
    
    background-color: white;
    position: absolute;
    top: 525px; /* Adjust as needed */
    left: 100px; /* Adjust as needed */
    z-index: 2; /* Higher z-index */
    border-radius: 20px;
    padding: 10px;


    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    gap: 0px; /* Space between columns */
    width: 80%;
}

.child{
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}


#container4{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 1150px;

}

#container5{

    height: 300px;
    margin-left: 155px;

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Four equal columns */
    gap: 10px; /* Space between columns */
    width: 80%;
    background-color: aliceblue;
    padding: 10px;
    position: absolute;
    top: 1250px;

    
}

.child5 {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width */
    top: 1250px;
    border-radius: 10px;

    
}

.button5{
    background-color: white;
    color: rgb(27, 26, 26);
    border-color: rgb(58, 57, 57) ;
    border-radius: 20px;
    padding: 10px;
}

/*Video Part*/

#container6{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 1900px;
    
    font-size: larger;
    background-color: aliceblue;
    z-index: 7;

}

#container7{
    font-size: x-large;
    background-color: aliceblue;
    margin-left: 45%;
    position: absolute;
    top: 1930px;
    z-index: 8;
}


#container8{
    height: 600px;
    width: 100%;
    background-color:none;
    position: absolute;
    top: 1900px;
    z-index: 5;
}


#container9{
    height: 1100px;
    
    width: 100%;
    background-color: aliceblue;
    padding: 10px;
    position: absolute;
    top: 2650px;
    z-index: 7;

}

#container10{
    color: white;
    margin-left: 15%;
    position: absolute;
    top: 2050px;
    z-index: 9;
}


#container11{
    height: 450px;
    width: 80%;
    background-color: white;
    margin-left: 10%;
    position: absolute;
    top: 2300px;
    z-index: 9;
    border-radius: 20px;
}

.buttonv{
    height: 100px;
    width: 20%;
    margin-left: 40px;
    border-radius: 20px;
    background-color: white;
}

.buttondiv{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Four equal columns */
    width: 100%;
    
}

.childbutton{
    height: 100%;
    width: 100%;
    background-color:none;
    box-sizing: border-box; /* Include padding in width */
    padding: 20px;
}
/*part 4*/
#container12{
    height: 900px;
    width: 100%;
    background-color: aliceblue;
    position: absolute;
    top: 2650px;
    z-index: 7;
}

#container13{
    height: 700px;
    width: 80%;
    margin-left: 10%;
    margin-top: 20PX;
    background-color:aliceblue;
    position: absolute;
    top: 2750px;
    z-index: 9;
}

.button4{
    height: 250px;
    width: 23%;
    margin-left: 15px;
    border-radius: 20px;
    border: none;
    
}

.button6{
    height: 50px;
    width: 13%;
    border-radius: 20px;
    padding: 10px;
    color: #474648;
    border-color: #bebebe;
    margin-left: 8px;
    margin-top: 40px;

}

#container14{
    position: absolute;
    top: 3500px;
    margin-top: 15px;
    height: 400px;
    width: 80%;
    margin-left: 10%;
    background-image:url("25.png") ;
    background-position: center center;
    background-size: 100% 100% ;
    animation-name: myanimation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 10;
}
@keyframes myanimation{
    25%{background-image:url("26.png") ;}
    50%{background-image:url("27.png") ;}
    75%{background-image:url("28.png") ;}
    100%{background-image:url("29.png") ;}
}


#container15{
    height: 400px;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 3970px;
    z-index: 11;

    background-color:  rgb(191, 166, 218);
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 10px;
}

#c15a2{
    height: 100%;
    margin-left: 200px;
    margin-right: 50px;
    background-color: rgb(191, 166, 218);
    background-image: url("30.png");
    background-position: center center;
    background-size: 100% 100% ;
}

#container16{
    position: absolute;
    top: 4394px;
    margin-top: 15px;
    height: 1000px;
    width: 100%;
    background-color: rgba(230, 227, 227, 0.723);
    z-index: 10;

}

#container17{
    position: absolute;
    top: 5390px;
    margin-top: 15px;
    height: 900px;
    width: 100%;
    background-color: white;
    z-index: 10;
}





